@model Cafe

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Name</h2>

@if (User.Identity.IsAuthenticated)
{
    <button class="btn-dark newRest" id="newRest">Add Comment</button>
}


<div class="d-inline-flex">
    <div class="col-6">
        @Model.Description
    </div>

    <div class="col-6">
        <img src="@Model.CafePhoto" alt="RestImage" class="card-img-top" style="max-width: 100%; height: auto;">
    </div>
</div>

<h2>Gallery</h2>
<div style="display: flex; overflow-x: auto;">
    <div id="allgalery"></div>
</div>

<h2>Rating : <div id="cafeReiting"></div></h2>

<h2>Reviews</h2>


<div class="modal restModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add comment</h5>
                <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newForm" enctype="multipart/form-data" name="post">
                    <div class="form-group">
                        <label for="restauranName">Your impressions </label>
                        <input asp-for="@Model.Name" type="text" class="form-control" id="restauranName" placeholder="Restaurants name">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Select institution photo</label>
                        <input data-val="false" asp-for="@Model.CafePhoto" class="form-control image" type="file" id="formFile" name="Image.File">
                    </div>
                    <div>
                        <label class="mb-2">Rate the establishment:</label>
                        <select id="rateVal" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <button type="submit" id="saveRest" class="saveRest btn btn-dark">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="commentList"></div>

@section Scripts
{
    <script>
    AllComment();
    AllGallery();
    GetRating();
    
       function AllComment() {
                $.ajax({
                    url: '@Url.Action("AllComment", "Cafe")',
                    type: 'GET',
                    data: {cafeId: @Model.Id},
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        let restaurantsContainer = $('#commentList');
                        restaurantsContainer.empty();
                        data.forEach(function (comment) {
                        let htmlCard = `
                            <div style="max-width: 300px;"> 
                            <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">${comment.comment}</h5>
                            <p>Rate:${comment.rate}</p>
                            <img src="${comment.cafePhoto}" alt="RestImage" class="card-img-top" style="max-width: 100%; height: auto;">
                            <button type="button" class="btn btn-danger deleteComment" data-comment-id="${comment.id}">Delete</button>
                            </div>
                        </div>`;
                            restaurantsContainer.append(htmlCard);
                        });
                    },
                    error: function (xhr, status, error) {
                    },
                    complete: function () {
                    }
                });
            }
    

            
            function AllGallery() {
                            $.ajax({
                                url: '@Url.Action("AllGallery", "Cafe")',
                                type: 'GET',
                                data: {cafeId: @Model.Id},
                                dataType: 'json',
                                success: function (data) {
                                    console.log(data);
                                    let restaurantsContainer = $('#allgalery');
                                    restaurantsContainer.empty();
                                    data.forEach(function (comment) {
                                    let htmlCard = `<img src="${comment.photoPath}" alt="RestImage" class="card-img-top" style="max-height: 150px; max-width: 150px; margin-right: 10px;">`;
                                        restaurantsContainer.append(htmlCard);
                                    });
                                },
                                error: function (xhr, status, error) {
                                },
                                complete: function () {
                                    
                                }
                            });
                        }
                        
                    function GetRating() {
                            $.ajax({
                                url: '@Url.Action("CafeRate", "Cafe")',
                                type: 'GET',
                                data: {cafeId: @Model.Id},
                                dataType: 'json',
                                success: function (data) {
                                    console.log(data);
                                      let restaurantsContainer = $('#cafeReiting');
                                        restaurantsContainer.empty();
                                        let htmlCard = `<p>${data}</p>`;
                                        restaurantsContainer.append(htmlCard);
                                },
                                error: function (xhr, status, error) {
                                },
                                complete: function () {
                                    
                                }
                            });
                        }                       
                
            
    
     $('.close').on('click', function ()
                    {
                        $('.restModel').hide();
                    })
                    $('.newRest').on('click', function ()
                    {
                        $('#restauranName').val('');
                        $('#formFile').val('');
                        $('.restModel').show();
                    });
                   $('#saveRest').on('click', function (event) {
                       event.preventDefault();
                   
                       let formData = new FormData();
                       formData.append('cafeId', @Model.Id);
                       formData.append('rate',$('#rateVal').val());
                       formData.append('comment', $('#restauranName').val());
                       formData.append('image', $('#formFile')[0].files[0]);
                   
                       $.ajax({
                           url: '@Url.Action("AddNewReview", "Cafe")',
                           type: 'POST',
                           data: formData,
                           contentType: false,
                           processData: false,
                           success: function (data) {
                               $('.restModel').hide();
                               console.log(data);
                           },
                           complete: function () {
                               AllComment();
                               AllGallery();
                               GetRating();
                           }
                       });
                   });   
                   
                    $(document).on('click', '.deleteComment', function () {
                               const commentId = $(this).data('comment-id');
                               $.ajax({
                                   url: '@Url.Action("DeleteComment", "Cafe")',
                                   type: 'DELETE',
                                   data: { id: commentId },
                                   dataType: 'json',
                                   success: function (data) {
                                   },
                                   error: function (xhr, status, error) {
                                   },
                                   complete: function () {
                                    AllComment();
                                   }
                               });
                           });
    </script>
}